* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    position: relative;  /* needed for the absolute positioning of the footer */
}

h1, h2 {
    margin-top: 25px;
    padding: 10px 0;
}

#tabs {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;     /* This will fix it to the top */
    top: 0; 
    left: 50%;           /* Centering */
    transform: translateX(-50%);  /* Centering */
    background: #333; /* Same as body background */
    z-index: 10000;       /* Ensure it's on top of other content */
}

li {
    list-style: none;
    
}

p {
    max-width: 600px;
}

button {
    font-size: 16px;
    width: 25%;
    padding: 1.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.active {
    color: #333;            /* Change this to make the text dark */
    background-color: #fff; 
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    text-align: center;
    padding: 80px 20px;
    overflow-y: auto; /* Add this to enable vertical scrolling */
    max-height: calc(100vh - 80px); /* Set a maximum height that leaves space for the top buttons */
}

.restaurant-image {
    width: 300px; 
    height: auto;
    background: #f3f3f3;  /* Light gray background */
    border: 2px solid #ddd; /* Solid border */
    padding: 10px; /* Padding around the image */
    display: block;
    margin: 20px auto;  /* Center the image */
    overflow: hidden;  /* Add this to hide overflowing parts of the image */
    position: relative; /* Add this to ensure child image is positioned inside */
}

iframe {
    display: block;
    max-width: 100%;
    margin: 20px auto 50px; /* Center the iframe horizontally, add vertical spacing at the top, and 50px margin at the bottom */
}

.menu-category {
    width: 100vw; /* Adjust the padding as needed */
    color: #fff; /* Text color for category headings */
    text-align: center; /* Center the text */
}

.menu-items-container {
    flex-direction: column;
    align-items: center;
}


/* Style the headings within .menu-category */
.menu-category h2 {
    color: #333; /* Text color for headings */
    padding: 10px; /* Padding for headings */
    margin-bottom: 10px; /* Spacing between headings and list */
}

/* Style the list items within .menu-category */
.menu-category ul {
    list-style: none;
    padding: 0;
}

.menu-category ul li {
    margin-bottom: 10px; /* Spacing between list items */
    color: #333; /* Text color for list items */
}


.site-footer {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}