* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    /* background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    height: 100vh; /* Make the background cover the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically center content */
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden; /* Hide overflow content */
}

h1, h2 {
    margin-top: 25px;
    padding: 10px 0;
    text-align: center;
    color: #333;
}



h1::after {
    content: "";
    display: block;
    margin: 10px auto 20px;
    height: 2px; 
    background-color: #333; 
    width: 50%;
}


#tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    z-index: 10000;
}

li, .menu-category ul {
    list-style: none;
}

p {
    max-width: 600px;
    text-align: center;
    color: #333;
}

/* Add this to your CSS */
.mt-20 {
    margin-top: 20px;
}

button {
    font-size: 16px;
    width: 25%;
    padding: 1.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.active {
    color: #333;
    background-color: #fff;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    margin: 80px 0 40px;
    padding-bottom: 40px;
    overflow-y: auto;
}

.restaurant-image {
    display: block; 
    width: 300px; 
    height: auto;
    background: #f3f3f3;
    border: 2px solid #ddd;
    padding: 10px;
    margin: 20px auto; 
    overflow: hidden;
    position: relative;
}

/* .home-page .restaurant-image {
} */

iframe {
    display: block;
    max-width: 100%;
    margin: 20px auto 50px;
}

.menu-category {
    color: #fff;
    text-align: center;
}

.menu-items-container {
    flex-direction: column;
    align-items: center;
}

.menu-category h2 {
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
}

.menu-category ul li {
    margin-bottom: 10px;
    color: #333;
}

.site-footer {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
